body {
  /* width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 25%;
  padding: 0; */
  background-color: #D7CCC8 !important;
  width: 100vw;
}

#main {
  display: inline-block;
  /* text-align: center; */
}

.App {
  display: flex;
  gap: 3rem;
  /* text-align: center; */
}



.App > * {
  flex-basis: 100px;
}

.button {
  background-color: #A1887F;
  color: white;
  width: 242px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0%;
  z-index: 1;
  border: none;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 700;
}

.button-group {
  width: 284px;
  height: 42px;
  position: absolute;
  left: 807px;
  top: 45%;
  display: inline-flex;
  gap: 1rem;
}

footer {
  position: fixed;
  bottom: 8px;
  right: 16px;
  padding: 2px;
  color: #3e2723;
}

#circle {
  background-color: #A1887F;
  width: 620px;
  height: 560px;
  border-radius: 50%;
  position: relative;
  left: -179px;
  top: 10%;
  /* top: 30%; */
}

.logo {
  z-index: 1;
  width: 350px;
  position: absolute;
  top: 35%;
  left: 230px;
  height: 200px;
  background-color: beige;
}

/* CSS for signup page */

.signup {
  text-align: center;
}

.Login {
  text-align: center;
}

.font {
  font-family: 'Poppins';
}

.signup_input {
  border-radius: 10px;
  background: #A1887F;
  width: 487px;
  height: 69px;
  flex-shrink: 0;
  
}
.pointer {
  cursor: pointer;
}
h1,
h4 {
  text-align: center;
  color: #6D4C41;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  font-size: 40px;
}

h4 {
  font-size: 14px;
  margin: 2px;
  line-height: normal;
}

.button1 {
  width: 242px;
  height: 72px;
  flex-shrink: 0;
  background: #795548;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  font-family: "Poppins";
  border-radius: 10px; /* Set the desired radius for curved corners */
}


input {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
  border: 0;
  padding-left: 30px;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

::placeholder {
  font-family: 'Poppins';
  font-size: 20px;
  color: white;
}
