body, html {
    margin: 0;
    padding: 0;
  }
.font{
    font-family: Poppins;
    font-weight: bold;
  }

.enroll {
    display: flex;
    margin: 0px;
    width: 99vw;
  }

.right {
    margin: 0px;
    background-color: #D7CCC8;
    padding: 2%;
    padding-left: 5%;
    width: 80%;
    text-align: left;
}

.left {
    background-color: #A1887F;
    /* flex: 1; */
    width: 20%;
}

.button2{
    width: 401px;
    height: 65px;
    flex-shrink: 0;
    background: #A1887F;
    color: #FFF;
    font-family: poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
  }
  