#main {
  display: inline-block;
}

.button{
  background-color: #A1887f;
  color: white;
  width: 142px;
  height: 42px;
  border-radius: 0%;
  /* margin-left: 45%; */
}

.button-group{
  width: 284px;
  height: 42px;
  /* margin-left: 45%; */
  margin-top: 8%;
  position: absolute;
  left: 807px;
  top: 165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 8px;
  right: 16px;
  display: flex;
  justify-content: right;
  padding: 2px;
  /*background-color: #3e2723;*/
  color: #3e2723;
}

#circle {
  background-color: #a1887f;
  width: 620px;
  height: 560px;
  border-radius: 50%;
  position: relative;
  left: -179px;
  top: 30px;
}

#logo {
  z-index: 1;
  width: 350px;
  position: absolute;
  top: 200px;
  left: 230px;
  height: 200px;
  background-color: beige;
}
